<section id="about-me">
  <h2 class="text">Hello, I'm Ann!</h2>
  <p class="text">
    I've always been interested in logical puzzles, and I also liked creating
    illustrations. I have experience in working with people and I can learn
    quickly. Currently, after some time of learning programming, I am looking
    for a job as a JavaScript or Frontend Developer. The technologies I used so
    far are listed below:
  </p>
  <ul class="tech-stack">
    <li>HTML, CSS</li>
    <li>DOM, RWD</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Angular</li>
    <li>SASS</li>
    <li>Node.js, Express.js</li>
    <li>ORM - Sequelize</li>
  </ul>
  <img src="./assets/sitting-person.png" alt="My image" />
</section>
